@charset "UTF-8";

body{
    background-color: black;
    font-family: serif;
    font-size: 20px;
}

h1{
    color: antiquewhite;
}

h2{
    color: antiquewhite;
}

p {
    color: antiquewhite;
    text-align: justify;
}